.create-user-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.create-user-layout-navbar {
    height: 60px;
    flex-shrink: 0;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    background-color: rgba(0, 0, 0, 0.908);
}

.create-user-layout-body {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    padding: 0 15px 15px 15px;
    margin: 5px 0 105px 0;
}

.create-user-layout-footer {
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}


.creation-screen {
    width: 80%;
    display: flex;
    flex-direction: row;
}

.creation-screen-action {
    width: 50%;
}

.creation-screen-info {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.creation-screen-info-img {
    width: 60%;
}