.stepper-container {
    width: 50%;
    display: flex;
    align-items: center;
}

.stepper-container-check {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    color: black;
    display: flex;
    align-items: inherit;
    justify-content: center;
}

.stepper-container-space {
    flex: 1;
    height: 10px;
    background-color: white;
    overflow: hidden;
}

.stepper-container-true {
    height: 6px;
    border-radius: 50px;
    background: linear-gradient(360deg, #8f3dec, #8515c5);
    animation: fillBar 0.8s ease-in-out forwards;
}

.stepper-icon {
  width: 42px;
}

@keyframes fillBar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}