.creation-screen {
    width: 80%;
    display: flex;
    flex-direction: row;
}

.creation-screen-action {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.creation-screen-userinfo {
    flex: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0 0 0;
}

.creation-screen-info {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.creation-screen-info-img {
    width: 60%;
}

.creation-screen-validate {
    flex: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}